.carousel-button{
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: #0467a6;
    width: max-content;
    height: max-content;
}

.carousel-button > a{
    text-decoration: none;
    color: white;
}

.carousel-button:hover{
    background-color: white;
}

.carousel-button:hover a{
    color: #0467a6;
}


.cc-1{
    bottom: 8rem;
    left: 10rem;
    position: relative;
}

.cc-2{
    bottom: 8rem;
    left: 80%;
    position: relative;
}

.cc-3{
    bottom: 10rem;
    left: 10rem;
    position: relative;
}

@media only screen and (min-width:700px) and (max-width:1200px) {
    .carousel-button > a{
        text-decoration: none;
        color: white;
        font-size: 0.8rem;
    }

    .cc-1{
        bottom:5rem ;
        left: 7rem;
    }

    .cc-2{
        bottom: 6rem;
        left: 70%;
        position: relative;
    }    

    .cc-3{
        bottom:8rem ;
        left: 7rem;
    }
}

@media only screen and (min-width:300px) and (max-width:700px) {
    .carousel-button{
        padding:0rem 0.5rem; 
        border-radius: 0.2rem;
    }

    .carousel-button > a{
        text-decoration: none;
        color: white;
        font-size: 0.5rem;
    }

    .cc-1{
        bottom:3rem ;
        left: 3rem;
    }

    .cc-2{
        bottom: 3rem;
        left: 70%;
        position: relative;
    }
    

    .cc-3{
        bottom:4rem ;
        left: 5rem;
    }
}

@media only screen and (min-width:200px) and (max-width:400px) {
    .cc-1{
        bottom:2rem ;
    }

    .cc-3{
        bottom:3rem ;
    }
}