.second-products{
  padding-top: 2rem;
}
.sh-no-products {
  width: 100wh;
  text-align: center;
}

.sh-no-products > h3 {
  text-align: center;
  padding-top: 5rem;
}

.sh-no-products > img {
  margin: 5rem auto;
  width: 20rem;
}

.sh-products {
  display: flex;
  gap: 2rem;
}

.sh-product {
  width: 20rem;
  height: 20rem;
  background-color: blue;
  margin: 2rem 1rem;
}
.sh-product-card{
  margin: 1rem auto;
}
.sh-product-card .card{
  border: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.product-card-link{
  position: absolute;
  bottom: 0.5rem;
  width: 16rem;
}

.product-card-link button{
  width: 100%;
}