.page {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 90vh; */
}
.product-container {
  margin-top: 2rem;
  width: 95%;
  background-color: transparent;
}
.product-row {
  background-color: transparent;
  /* height: 50vh; */
  display: flex;
  grid-area: 2rem;
}

.productinfo-images {
  display: flex;
  flex-direction: column;
  width: 50wh;
  gap: 1rem;
}

.productinfo-preview-images {
  height: 20%;
  background-color: whitesmoke;
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
}

.productinfo-preview-images::-webkit-scrollbar {
  display: none;
}

.productinfo-preview-images-side {
  height: 5rem;
}
.productinfo-preview-images-side > img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 0.5rem;
}

.productinfo-preview-image {
  height: 30rem;
  border-radius: 1rem;
}

.productinfo-preview-image > img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 1rem;
}

.related-products-header {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.related-products {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 2rem auto;
  overflow-y: scroll;
}

.related-products::-webkit-scrollbar {
  display: none;
}
.related-products > div {
  padding-left: 4rem;
  height: 15rem;
  background-color: blue;
  margin-top: 5px;
  border-radius: 1rem;
}
table {
  border: 0px solid black;
}
td {
  padding: 10px;
}
.product-info-btn {
  background-color: #7cacc1;
  margin-right: 1rem;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 5%;
}
#quote {
  background-color: #0467a6;
}
