div > .not_clicked{
    /* background-color: red; */
    background-color: #0467a6;
    border: 1px solid #0467a6 ;
}
div > .not_clicked:hover{
    background-color: #7cacc1;
    border: 1px solid #7cacc1;
}
div .clicked{
    background-color: red;
    border: 1px solid #7cacc1;
}
div .clicked:hover{
    background-color: red;
    border: 1px solid #7cacc1;
}