.form-popup{
    display: flex;
    position: relative;
}

.form-customer{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}
.form-customer > i{
    background-color: #0467a6;
    color:  white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.6rem;
    font-size: 2rem;
    font-weight: 200;
}
