/* primary color code : #0467a6 
   secondary color code : #7cacc1 
*/
*{
   font-family: 'Roboto Slab', serif;
   padding: 0;
   margin: 0;
   transition: all 400ms ease;
}
body{
   overflow-x: hidden;
}
main{
   padding-top: 4rem;
   /* width:100vw; */
   /* height: 200vh; */
}
footer{
   width: 100%;
}
html{
   scroll-behavior: smooth;

}